.lottie {
  position: fixed; 
  top: 4rem;
  left: min(70vw, 80rem);
  width: 20em;
  height: 20em;
  z-index: -10;
}

@media (max-width: 768px) {
  .lottie {
    display: none;
    position: absolute;
    top: 18rem;
    width: 10em;
    left: 50vw;
    height: 10em;
  }
}

.letter {
  display: inline-block;
}

.P {
  color: #34D399;
}

.T {
  color: #60A5FA;
}